$color-black: #1b262c;
$color-blue: #0f4c81;
$color-red: #ed6663;
$color-orange: #ffa372;
$color-white: #f8f8ff;

@import './nav.scss';
@import './hero.scss';
@import './sectionvideo.scss';
@import './button.scss';

body {
  font-family: 'Rubik', sans-serif;
  color: $color-black;
  letter-spacing: 0.25px;
  background: $color-red;
}

a {
  text-decoration: none;
  color: inherit;
}

#po-shadow {
  opacity: 0.5;
  padding-top: 2em;
  align-self: center;

  @media (min-width: 600px) {
    width: 600px;
  }
}

.content-body {
  background-color: $color-white;
  padding: 1em;
  border-radius: 5px;

  & h1 {
    line-height: 1.5;
    font-size: 1.75rem;
    font-weight: 700;
  }
  & h3 {
    padding-top: 0.5em;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  & ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

#vid-wrapper {
  & .iframe-wrapper {
    display: flex;
    justify-content: center;
    & iframe {
      border-radius: 1em;
    }
  }
  & .content-wrapper {
    padding: 1em;
    margin: auto;

    @media (min-width: 850px) {
      width: 850px;
    }

    display: flex;
    flex-direction: column;
    & .content-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > span {
        background-color: $color-black;
        padding: 0.5em;
        color: $color-white;
        border-radius: 5px;
      }
      & > div {
        & > h1 {
          font-size: 1.5rem;
          font-weight: 700;
        }
        & > h2 {
          padding: 0.25em 0 0 0;
          font-size: 0.9rem;
          letter-spacing: 1px;
        }
        & > h2::before {
          content: 'by: ';
        }
      }
    }
    & .button-wrapper {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
