#nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #nav .nav-right > * {
    padding: 0 1em; }
  #nav .nav-right a {
    text-decoration: none;
    color: #f8f8ff;
    transition: all 0.25s ease-in-out; }
    #nav .nav-right a i {
      font-size: 2em;
      transition: all 0.25s ease-in-out; }
  #nav .nav-right a:hover {
    color: #1b262c; }
    #nav .nav-right a:hover i {
      transform: scale(1.1); }
  #nav img {
    height: 2.5em;
    filter: invert(1); }

#hero {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #hero .hero-content-wrapper {
    display: flex;
    flex-direction: row;
    width: minmax(50%, 20%);
    justify-content: space-between; }
    #hero .hero-content-wrapper > div {
      padding: 0 2.5em; }
    #hero .hero-content-wrapper .hero-content-right {
      align-self: center; }
    #hero .hero-content-wrapper h1 {
      font-size: 2rem;
      font-weight: 700; }
    #hero .hero-content-wrapper ul {
      font-size: 1.5em;
      list-style-type: '> ';
      list-style-position: outside; }
      #hero .hero-content-wrapper ul li::before {
        margin-right: 1em; }
      #hero .hero-content-wrapper ul li {
        cursor: pointer;
        transition: all 0.25s ease-in-out; }
      #hero .hero-content-wrapper ul li:hover {
        color: #f8f8ff; }

#section-videos {
  background-color: #1b262c;
  min-height: 10vh;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1em; }
  #section-videos .video-box {
    background-color: #f8f8ff;
    border-radius: 0.25em;
    min-height: 7em;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    #section-videos .video-box .youtube-wrapper {
      cursor: pointer;
      background: content-box center no-repeat;
      filter: grayscale(0.6);
      transition: all 0.25s ease-in-out; }
    #section-videos .video-box .youtube-wrapper:hover {
      filter: grayscale(0) saturate(1.25); }
    #section-videos .video-box .info-wrapper {
      padding: 0.25em 0.25em 0.25em 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #section-videos .video-box .info-wrapper .info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        #section-videos .video-box .info-wrapper .info-header .author {
          font-weight: 700;
          letter-spacing: 0.5px; }
        #section-videos .video-box .info-wrapper .info-header .author::before {
          content: 'by: ';
          font-size: 0.8em; }
        #section-videos .video-box .info-wrapper .info-header .po-type {
          padding: 0.5em;
          background-color: #ed6663;
          color: #f8f8ff;
          border-radius: 5px; }
      #section-videos .video-box .info-wrapper .info-content .title {
        font-size: 1.15rem; }
      #section-videos .video-box .info-wrapper .info-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        #section-videos .video-box .info-wrapper .info-buttons a {
          text-decoration: none;
          color: inherit; }
        #section-videos .video-box .info-wrapper .info-buttons i {
          cursor: pointer;
          font-size: 1.5rem;
          color: #ffa372;
          transition: all 0.25s ease-in-out; }
        #section-videos .video-box .info-wrapper .info-buttons i:hover {
          color: #1b262c;
          text-shadow: 0 0 5px #ed6663; }

.button {
  cursor: pointer;
  user-select: none;
  background-color: #ffa372;
  padding: 0.5em;
  border-radius: 5px;
  transform: translate(0, -1px);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0), 0px 1px 0px 0px #ed6663;
  transition: all 0.25s ease-in-out; }

.button:hover {
  transform: translate(0, -3px);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0), 0px 3px 0px 0px #ed6663; }

.button:active {
  transform: translate(0, 0);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0), 0px 0px 0px 1.5px #ed6663; }

.button.black {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0), 0px 1px 0px 0px #1b262c; }

.button.black:hover {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0), 0px 3px 0px 0px #1b262c; }

.button.black:active {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0), 0px 0px 0px 1.5px #1b262c; }

body {
  font-family: 'Rubik', sans-serif;
  color: #1b262c;
  letter-spacing: 0.25px;
  background: #ed6663; }

#vid-wrapper .iframe-wrapper {
  display: flex;
  justify-content: center; }
  #vid-wrapper .iframe-wrapper iframe {
    border-radius: 1em; }

#vid-wrapper .content-wrapper {
  padding-top: 1em;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column; }
  #vid-wrapper .content-wrapper .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #vid-wrapper .content-wrapper .content-header > span {
      background-color: #1b262c;
      padding: 0.5em;
      color: #f8f8ff;
      border-radius: 5px; }
    #vid-wrapper .content-wrapper .content-header > div > h1 {
      font-size: 1.5rem;
      font-weight: 700; }
    #vid-wrapper .content-wrapper .content-header > div > h2 {
      padding: 0.25em 0 0 0;
      font-size: 0.9rem;
      letter-spacing: 1px; }
    #vid-wrapper .content-wrapper .content-header > div > h2::before {
      content: 'by: '; }
  #vid-wrapper .content-wrapper .button-wrapper {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center; }
    #vid-wrapper .content-wrapper .button-wrapper a {
      text-decoration: none;
      color: inherit; }
